:root {
  --dark: #222546;
  --white: #F7F8FA;
  --green: #008C8F;
  --blue: #84A9D7;
  --dblue: #376AA9;
  --purple: #735AB6;
}

body {
  background-color: var(--dark);
  color: var(--white);
}

.header {
  color: var(--white);
  text-align: center;
  font-size: 50px;;
  padding: 15px 0px 15px 0px;
  margin: 0px 15px 0px 15px;
}

#currentDate {
  font-size: 20px;
  padding: 20px 0px 10px 0px;
}

#row1 {
  margin: 10px 10px 0px 0px;
}

#col2 {
  padding-top: 15px;
  padding-bottom: 30px;
}

.column {
  text-align: left;
} 

.selector {
  margin-left: 20px;
}

.accordion-item {
  padding: 20px 20px 30px 5px;
}

.accordion-button {
  padding: 0px 15px 0px 15px;
  border-radius: 5px;
  margin: 0px 0px 0px 10px;
  background-color: var(--green);
  color: var(--white);
  font-size: 30px;
  width: 300px;
  text-align: left;
}

input {
  margin: 5px 5px 5px 10px;
}

#storedLocation {
  margin: 15px 5px 5px 10px;
}

.locationBtn {
  width: 90%;
}

.card {
  margin: 10px 10px 30px 10px;
  border-radius: 5px;
}

.card-body {
  color: black;
}

.card-text {
  white-space: pre-wrap;
  color: var(--white);
}

.main-card-text {
  white-space: pre-wrap;
  color: var(--dark);
}

.card-subtext {
  white-space: pre-wrap;
  color: lightgray;
}

#forecastWeather {
  display: flex;
}

#row1 {
  color: black;
}

#p1El {
  font-weight: bold;
}

.mcard-body {
  background-color: var(--blue);
  outline: solid 1px var(--dblue);
}

#col1 {
  margin-left: 10px;
}

#locationSubmit {
  border-radius: 10px;
}

.locationBtn {
  border-radius: 10px;
}