:root {
  --dark: #222546;
  --white: #F7F8FA;
  --green: #008C8F;
  --blue: #376AA9;
  --purple: #735AB6;
}

body {
  background-color: var(--dark);
  color: var(--white);
}

.header {
  color: var(--white);
  text-align: center;
  font-size: 50px;;
  padding: 15px 0px 15px 0px;
  margin: 0px 15px 0px 15px;
}

#currentDate {
  font-size: 20px;
  padding: 20px 0px 10px 0px;
}

/* .row {
  outline: solid 1px red;
} */

.column {
  text-align: left;
} 

.selector {
  margin-left: 20px;
  background: #353A6E;
}

.accordion-item {
  padding: 20px 20px 30px 5px;
}

.accordion-button {
  padding: 0px 15px 0px 15px;
  border-radius: 10px;
  margin: 0px 0px 0px 10px;
  background-color: var(--green);
  color: var(--white);
  font-size: 30px;
  width: 300px;
  text-align: left;
}

input {
  margin: 5px 5px 5px 10px;
}

#storedLocation {
  margin: 15px 5px 5px 10px;
}

.renderArea {
  background-color: var(--blue);
}

.locationBtn {
  width: 90%;
}